
    .instance-content{
        max-width: 50vw;
        height: calc(100% - 28px);
        overflow: auto;
        padding: 0 20px;
        .app-item {
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            padding: 20px 0;
    
            .app-label {
                height: 42px;
                display: flex;
                align-items: center;
                .app-icon{
                    background-color: #54CACB;
                    i {
                        font-size: 14px;
                        color: white;
                    }
                }
                .version-icon {
                    i {
                        font-size: 30px;
                        color: #54CACB;
                    }
                }
                .label-icon {
                    flex-shrink: 0;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 1px solid #e0e0e0;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    justify-content: center;
                    cursor: pointer;
                  
                   
                }
                .label-name {
                    flex: 1;
                    text-indent: 10px;
                    color: #262626; 
                    white-space: nowrap;
                    // cursor: pointer;
                    display: flex;
                    align-items: center;
    
                    input{
                        width: 200px;
                        height: 32px;
                        font-size: 14px;
                        border: none;
                        border-bottom: 1px solid #dcdcdc;
                        background-color: transparent;
                    }
                }
                .label-config {
                    border: none;
                    background: transparent;
                    margin-right: 10px;
                    outline: none;
                    cursor: pointer;    
                }
                .to-config {
                    color: #689DDA;
                }
                .did-config {
                    color: #6A6A6A;
                }
            }
    
            
            .app-item-versions {
                
                margin-left: 34px;
            }
    
        }

    }

    .appconfig-content {
    
        max-width: 50vw;
        height: 50vh;
        overflow: auto;
    
        .config-item {
            position: relative;
            width: 100%;
            margin: 20px 0;
            padding: 0 20px 0 0;
            .item-required {
                position: absolute;
                top: 5px;
                left: -12px;
                color: red;
                height: 14px;
                width: 14px;
                font-weight: 400;
            }
            .item-input {
                display: flex;
                height: 36px;
                align-items: center;
    
                label {
                    width: 100px;
                    flex-shrink: 0;
                    text-align: right;
                    margin-right: 20px;
                    span {
                        color: red;
                        height: 14px;
                        width: 14px;
                    }
                }
    
                input {
                    width: 240px;
                    height: 32px;
                    border: none;
                    border-bottom: 1px solid #dcdcdc;
                    background-color: transparent;
                    outline: none;
                    font-size: 14px;
                }
                input::-webkit-inner-spin-button{
                    appearance: none;
                }
    
                .red-border{border-color: red;}
            }
    
            .item-error {
                position: absolute;
                top: 100%;
                left: 120px;
                line-height: 20px;
                color: red;
                font-size: 12px;
            }
        }
    
    
       
    }