* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {

}

div, section, ul, ol, li {
    box-sizing: border-box;
}

.error-loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-container {
    width: 100vw;
    height: 100vh;
}


.page-container {

    .page-title {
        line-height: 80px;
        font-size: 20px;
        font-weight: bold;
    }
}

.common-btn {
    padding: 10px 20px;
    
}

.snackbar-container {
    .MuiSnackbarContent-root {
       min-width: 20px;
    }
   
}