@import 'config';

.circular-progress {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}
.show-progress {
    display: flex;
}


/* ------- input 组件 start ---------*/ 
.input-cmp-container {
    width: 100%;
    height: 100%;
    .input-cmp-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .input-cmp-label {
            width: 80px;
            flex-shrink: 0;
            margin-right: 10px;

            .input-label {
                width: 100%;
                text-align: right;
            }
        }

        .input-context {
            position: relative;
            flex: 1;
            height: 100%;
            .input-cmp-input {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                outline: none;
                padding: 0 14px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                font-size: 14px;
                box-sizing: border-box;
            }
            .input-border-hl {
                border-color: red;
            }
            .input-cmp-error {
                position: absolute;
                top: 100%;
                left: 0;
                line-height: 20px;
                color: red;
                font-size: 12px;
            }
        }

    }
   
    

}
/* ------- input 组件 end ---------*/

/*------------ leftNav 组件-----------------*/
.nav-container {
    width: 100%;
    height: 100%;
    background-color: #373737;
    color: #4A4A4A;
    overflow: auto;
    
    .logo {
        height: 76px;
        width: 100%;
        line-height: 76px;
        .logo-title{
            width: 100%;
            font-size: 40px;
            color: white;
            text-align: center;
            font-family: 'WongSans-Regular';
        }
    }

    .nav-list {

        .list-item {
            color: #D1D1D1;
            padding: 10px 0;
            font-size: 14px;
          
            .item-content {
                height: 37px;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 30px;
                border-left: 4px solid #373737;
                i {
                    color: #757575;
                    font-size: 14px;
                    
               }
               span {
                   margin-left: 6px;
               }
            }
         
        }
        .item-content-child {
            padding-left: 44px!important;
        }

        .blueBorder {
            border-color: #3986FF!important;
            color: white;
            i {
                color: white!important;
           }
        }

        .list-item:hover {
            cursor: pointer;
            color: white;
            i {
                color: white;
            }
        }
    }

}





/* textarea 高度自动撑开 */
.auto-textarea {
    width: 100%;
    // min-height: 5rem;
    // border: 1px solid #dcdcdc;
    border-radius: 4px;
    cursor: text;

    .auto-input {
        display: block;
        font-size: 14px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border: none;
        background-color: transparent;
        outline: none;
        resize: none;
        line-height: 1.5;
        padding: 0;
        box-sizing: border-box;

    }
}
