.online-container {

    .online-btns {
        padding: 20px 0;
        text-align: right;
        .online-btn {
            margin-left: 20px;
        }
    }

    .oltitle {
        line-height: 60px;
        font-size: 20px;
        font-weight: bold;
    }

    .online-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        padding: 0 20px;
        span {
            margin-left: 4px;
            color: red;
        }
    }

    .online-header {
        height: 60px;
        background-color: #373737;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .header-logo {
            font-size: 32px;
            font-family: 'WongSans-Regular';
        }
        .header-user {
            
        }
    }

    .online-content {
        height: calc(100vh - 60px);
        padding: 0 20px;
    }

    .online-textarea {
        height: 200px;
        margin-bottom: 20px;
        position: relative;
    }

    .vartextarea {
        margin-bottom: 30px;
    }

    .textarea-input {
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        border:1px solid #dcdcdc;
        border-radius: 4px;
        padding: 0.5rem;
        white-space: nowrap;
    }

    .online-btn{
        // width: 60px;
        height: 32px;
    } 

    .createapp-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .createapp-left, .createapp-right {
            flex-shrink: 0;
            width: 50%;
        }
        .createapp-left {

        }
        .createapp-right {
            padding-left: 20px;

            .createapp-preview {

                .preview-pre {
                    width: 100%;
                    height: calc(90vh - 110px);
                    overflow: auto;
                    border:1px solid #dcdcdc;
                    border-radius: 4px;
                    padding: 0.5rem;
                }
            }
        }

        .createapp-removebtn {
            position: absolute;
            bottom: -25px;
            right: 0;
            padding: 0;
        }
        .createapp-addbtn {
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }

    .trait-content {
        .trait-textarea {
            min-height: calc(100vh - 200px);
            border: 1px solid #dcdcdc;
            padding: 10px;
        }
    }

    .view-text {
        width: 100%;
        outline: none;
        white-space: nowrap;
        overflow: auto;
        padding: 0 10px;
        // background: rgba(0,0,0,0.03);
        cursor: not-allowed;
        position: relative;

        .fold-btn {
            position: absolute;
            top: 4px;
            right: 0;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }
    }

    .textarea-edit {
        padding: 0 10px;
        border: 1px solid #dcdcdc;
    }

    .hide-textarea {
        display: none;
    }


    .indent4 {
        width: calc(100% - 20px);
    }
    .indent8 {
        width: calc(100% - 40px);
    }

    .vendor-content {
        display: flex;

        .vendor-left, .vendor-right {
            flex-shrink: 0;
            width: 50%;
        }
        .vendor-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .vendor-left {
            padding-right: 20px;
        }

        .yaml-textarea {
            // margin-bottom: 20px;
            border: 1px solid #dcdcdc;
            padding: 0 10px;
        }

        .vendor-textarea {
           height: 200px;
           margin-bottom: 20px;
        }

        .vendor-preview {
            height: 50vh;
            margin-bottom: 20px;
            .preview-pre {
                width: 100%;
                height: 100%;
                overflow: auto;
                border:1px solid #dcdcdc;
                border-radius: 4px;
                padding: 0.5rem;
            }

        }

    }
}