.log-list {
    max-width: 60vw;
    min-width: 30vw;
    min-height: 10vh;

    .log-item {
        display: flex;
        line-height: 30px;

        .item-desc {
            word-break: break-all;
        }
    }
}