.workload-container {
    padding: 0 20px;

    .workload-content {
        display: flex;
        height: 32px;
        align-items: center;

        .host-input {
            width: 400px;
            height: 32px;
        }
        .host-btn {
            width: 80px;
            margin-left: 20px;
            .btn-item {
                width: 80px;
                height: 32px;
            }
           
        }

        
    }
    .right-btn {
        float: right;
    }

    .table-list {
        margin-bottom: 30px;
        
        .table-title {
            font-size: 18px;
            font-weight: bold;
        }
    }
    
}

.workload-dialog {
    
    .workdialog-view {
       
        .preview-pre {
            width: 500px;
            height: 50vh;
            overflow: auto;
            border:1px solid #dcdcdc;
            border-radius: 4px;
            padding: 0.5rem;
        }
    }

    .workdialog-edit {
       
        .textarea-input {
            width: 500px;
            height: 50vh;
            resize: none;
            outline: none;
            border:1px solid #dcdcdc;
            border-radius: 4px;
            padding: 0.5rem;
            white-space: nowrap;
        }
    }
}