/* 鼠标放上后提醒 */
.global-help-tip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
    margin-left: 2px;
    line-height: 1.5;

    &:hover .box .help-text{
        display: block;
    }

    .help-icon {
        display: block;
        width: 24px;
        height: 25px;
        color: #FFF;
        text-align: center;
        line-height: 24px;
        font-size: 24px;
        margin-top: -4px;
    }

    .box {
        position: absolute;
        left: 0px;
        top: 0px;
        width: auto;

        .help-text {
            z-index: 10;
            font-size: 12px;
            display: none;
            position: absolute;
            padding: 10px 14px;
            background: #727272;
            border-radius: 3px;
            color: #FFF;
            top: 20px;
            left: -24px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.23);
        
            p, a{
                font-size: 12px;
                margin: 0;
            }
        }
    }
}


/* 分页 */
.page-pagination {
    width: 100%;
    margin: 40px 0px 0px;
    display: flex;
    justify-content: center;
    .pagination{
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;

      &>ul{
        display: flex;
        align-items: center;

        &>li{
          min-width: 30px;
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 15px;
          height: 30px;
          margin: 0 2px;

          &.page-text{
            border-radius: 4px;
            padding: 0 10px;
            & > a{
                color: #333;
              }
            &:hover{
              background: #3986ff;
              cursor: pointer;

              & > a{
                color: #fff;
              }
            }

            &.disabled{
              &:hover{
                background: none;
                cursor: not-allowed;

                &>a{
                  color: inherit;
                }
              }
            }
          }
          &.page-number{
            & > a{
                color: #333;
              }
            &.active{
              background: #3986ff;

              & > a{
                color: #fff;
              }
            }

            &:hover{
              cursor: pointer;
              background: #3986ff;

              & > a{
                color: #fff;
              }
            }

            &.ellipsis{
              & > a{
                color: inherit;
              }

              &:hover{
                cursor: default;
                background: none;
              }
            }
          }
        }
      }

      &>.all{
        display: flex;
        align-items: center;
        color: #9B9B9B;
      }
    }
}

/* 搜索框 */
.search-box-component {
    width: 100%;
    height: 36px;
    background: #fff;
    border-radius: 4px;
    padding: 0px 8px;
    border: 1px solid #eee;

    .main-box & {
        background: #fff;
        border: solid 1px #E6E6E6;

        .input-area {
            background: #fff;
            height: 34px;
            line-height: 34px;
        }
    }

    .input-area {
        width: calc(100% - 50px);
        float: left;
        height: 34px;
        line-height: 34px;
        padding-left: 4px;
        border: none;
        outline: none;
    }

    .search-btn {
        line-height: 34px !important;
        width: 34px !important;
        height: 34px !important;
        padding: 0px !important;
        float: right;
        margin-top: 2px !important;

        span {
            line-height: 34px !important;
            width: 34px !important;
            height: 34px !important;
        }

        .iconfont {
            color: #757575 !important;
            font-size: 18px !important;
            top: -2px;
        }
    }
}


/* loading */
.circularStyle {
    position: absolute!important;
    top: 40%;
    left: 45%;
    z-index: 9999;
}

/*
header
*/
.header-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 200px;
    z-index: 100;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #96A9B3;
    .header-item {
        cursor: pointer;
        margin-left: 30px;
        i {
            font-size: 14px;
            color: #757575;
        }
        span {
            margin-left: 6px;
        }
    }
}


/* leftNav */
.left-nav {
    float: left;
    width: 200px;
    height: 100%;
    background: #373737;
    color: #4A4A4A;
    overflow: hidden;

   
 

    .logo {
        height: 76px;
        width: 100%;
        line-height: 76px;
        img {
            width: 150px;
        }
        .logo-title{
            width: 100%;
            height: 76px;
            line-height: 76px;
            font-size: 26px;
            color: white;
            text-align: center;
            // text-indent: 38px;
            font-family: 'WongSans-Regular';
        }
    }

    .nav-list {
        .list-item {
            display: flex;
            align-items: center;
            color: #D1D1D1;
            height: 60px;
            font-size: 14px;
          

            .item-content {
                height: 37px;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 32px;
                border-left: 4px solid #373737;
                i {
                    color: #757575;
                    font-size: 14px;
                    
               }
               span {
                   margin-left: 6px;
               }
            }
         
        };
        .blueBorder {
            border-color: #3986FF!important;
            color: white;
            i {
                color: white!important;
           }
        }

        .list-item:hover {
            cursor: pointer;
            color: white;
            i {
                color: white;
            }
        }
    }

    .nav-list-bak {
        div {
            // font-family: $font_family !important;
            font-size: 14px !important;
        }

        &>div{
            padding: 20px 0!important;
        }

        .listitem {
            padding: 0 !important;
            color: #4a4a4a;
            + div {
                padding: 0 !important;
            }

            & > div > div {
                padding: 12px 20px !important;

                button {
                    display: none !important;
                    right: inherit !important;
                    left: -10px !important;

                    &.choose {
                        display: inline-block !important;
                    }

                    svg {
                        color: #D2D2D2 !important;
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }
        }

        .choose-menu {
            position: absolute !important;
            top: 0;
            right: 0;
            z-index: 9;

            button.choose {
                left: 5px !important;
                top: -1px !important;

                > div {
                    background: #eee;
                    border-radius: 4px;
                }
            }
        }

        .menu-leftIcon {
            top: 5px !important;
            left: 24px !important;
            width: 14px !important;
            height: 14px !important;
            font-size: 14px !important;
            margin: 12px 4px !important;
            //transform:scale(0.8);
        }

        .menu-leftIcon2 {
            top: 5px !important;
            left: 0px !important;
            width: 14px !important;
            height: 14px !important;
            font-size: 14px !important;
            margin: 12px 4px !important;
            transform: scale(0.8);
        }

        .sublistitem {
            + div {
                padding: 0 !important;
            }

            & > div > div {
                margin-left: 0px !important;
                padding: 12px 10px 12px 24px !important;

                button {
                    display: none !important;
                    right: inherit !important;
                    left: -24px !important;

                    &.choose {
                        display: inline-block !important;
                    }

                    svg {
                        color: #D2D2D2 !important;
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }
        }

        .sublistitem3 {
            & > div > div {
                margin-left: 65px !important;
                padding: 12px !important;
            }
        }

        .iconfont {
            font-size: 14px !important;
            color: #6a6a6a;
            margin-right: 8px;

            &.icon-play-down {
                color: #999 !important;
                transform: scale(0.7, 0.5);
                margin-left: 6px;
            }

            &.icon-triangle-down {
                color: #999;
                transform: scale(0.7) rotate(-90deg);
            }
        }

        .show-children {
            .icon-triangle-down {
                transform: scale(0.7);
            }
        }

    }
}


.base-dialog-container{
    
    .dialog-title {
        font-size: 16px!important;
        font-weight: 600!important;
        color: #111!important;
    }

    .base-dialog-content {
        max-width: 1000px!important;
        position: relative;
    }

    .base-dialog-close{
        position: absolute;
        top: 4px;
        right: 4px;
        width: 40px;
        height: 40px;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        i {
            font-size: 14px;
            color: #6A6A6A;
        }
    }

}
.close-btn {
    color: #EC5858!important;
}
.confirm-btn {
    color: #3986FF!important;
}

.small-dialog {
    width: 400px!important;
}
.middle-dialog {
    width: 560px!important;
}
.big-dialog {
    width: 900px!important;
}

.base-input-container {
    margin-bottom: 20px;
    width: 100%;
    .input-label {
        font-size: 14px;
        color: #9B9B9B;
    }

    input {
        font-size: 14px!important;
    }
}

.textarea-content {
    // outline-color:  #3986FF;
    outline: none;
    width: 100%;
    height: 126px;
    resize: none;
    border: 1px solid #E6E6E6;
    padding: 4px;
}


.upload-file-container{
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    .input-label {
        font-size: 14px;
        color: #9B9B9B;
    }

    .upload-content {
        width: 100%;
        margin-top: 10px;
        height: 48px;
        display: flex;
        align-items: center;
        p {
            color:#262626;
            margin-right: 10px;
        }
        .upload-btn {
            width: 90px;
            height: 36px;
            flex-shrink: 0;
            cursor: pointer;
            position: relative;
            input {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                opacity: 0;
            }
            button {
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                color: #3986FF;
                outline: none;
                z-index: 2;
            }
        }

        
    }

    .errorText-style {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: red;
    }
}

