//定义屏幕最大宽度
$device_max_width: 100%;
$device_min_width: 1000px;

//body的背景颜色
$background_color: #FFF;

//全局字体
$font_family: "PingFangSC-Regular", "Microsoft YaHei", STHeiti, Helvetica, Arial, sans-serif;
$font_size: 14px;

//全局字体颜色
$font_color: #444;

//全局手指点击后高亮颜色
$tap_highlight_color: rgba(9, 174, 255, 0.5);
$highlight_color: #38f;
$red_color: #EC5858;

//全局行高
$line_height: 1.8em;

//主题颜色
$theme_blue: #4A90E2;
$theme_red: #EC5858;
$theme_orange: #f80;
$theme_nav: #f5f5f5;

//box-shadow
$shadow1: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
$shadow2: 0 0 4px 1px rgba(106, 106, 106, 0.4);
$shadow3: 1px 1px 2px 0px rgba(106, 106, 106, 0.3);

$header_height: 60px;
$tag_height: 60px;
$border-color: #ececec;

//环境背景色
$color_0: transparent;
$color_1: #D33935;
$color_2: #FEC536;
$color_3: #3D74F2;
$color_4: #1E964F;
$color_5: #FB02FF;
$color_6: #6D6F01;
$color_7: #BADD94;
$color_8: #6B006C;
$color_9: #21FEFF;
$color_10: #05016D;
$color_11: #FC7EFF;
$color_12: #FDFF0B;



