<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1287067_4r6jtdw99v3.css">
    <link href="/dist/css/style.css?v=0.0.2" type="text/css" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'WongSans-Regular';
            src: url('/dist/fonts/WangSans-Regular.eot');
            src: url('/dist/fonts/WangSans-Regular.eot?#iefix') format('embedded-opentype'),
            url('/dist/fonts/WangSans-Regular.woff') format('woff'),
            url('/dist/fonts/WangSans-Regular.woff2') format('woff2'),
            url('/dist/fonts/WangSans-Regular.ttf') format('truetype');
        }
    </style>
</head>

<body>
<div id="page"></div>
<div id="loading">
    <div class="loading-icon">
        <svg viewBox="0 0 40 40" style="width: 40px; height: 40px; position: relative">
            <circle cx="20" cy="20" r="18.25" fill="none" stroke-width="3"
                    stroke-miterlimit="20"
                    style="stroke: rgb(57, 134, 255); stroke-lnecap: round"></circle>
        </svg>
    </div>
</div>
</body>

<script src="/dist/libs/jquery2.1.4.min.js"></script>

<script>
     window._BASEPATH = "";
     window._ENDHOST = "<%= endhost %>"

     $.ajaxSetup({
        statusCode: {
            200: (e) => {
                if(e && e.code && e.code === 302) {
                     window.location.replace(e.data);
                }
            }
        }
    });

    $('#loading').css({opacity: '0'});
    setTimeout(function () {
        $('#loading').remove();
    }, 250);

</script>

<script src="/dist/js/vendor.js?v=0.0.2"></script>
<script src="/dist/js/bundle_main.js?v=0.0.2"></script>
<!-- 
<script>
    (function () {
        "use strict";

        function createScript(url, callback) {
            var oScript = document.createElement('script');
            oScript.type = 'text/javascript';
            oScript.async = true;
            oScript.src = url;

            var scripts = document.querySelectorAll('script');
            var len = scripts.length;
            for (var i = 0; i < len; i++) {
                var src = scripts[i].getAttribute('src');
                if (src === url) {
                    callback();
                    return;
                }
            }

            /*
             ** script标签的onload和onreadystatechange事件
             ** IE6/7/8支持onreadystatechange事件
             ** IE9/10支持onreadystatechange和onload事件
             ** Firefox/Chrome/Opera支持onload事件
             */
            // 判断IE8及以下浏览器
            var isIE = !-[1,];
            if (isIE) {
                oScript.onreadystatechange = function () {
                    if (this.readyState == 'loaded' || this.readyState == 'complete') {
                        callback();
                    }
                }
            } else {
                // IE9及以上浏览器，Firefox，Chrome，Opera
                oScript.onload = function () {
                    callback();
                }
            }
            document.body.appendChild(oScript);
        }

        let begin = new Date().getTime();
        let timer = setInterval(() => {
            let end = new Date().getTime();
            if (end - begin > 1000 * 20) {          //20秒
                clearInterval(timer);
                console.log(`Channel dom获取失败`);
            }

            if ($("#channel") && $("#channel").length) {
                clearInterval(timer);
                createScript('/dist/js/bundle_dp_channel.js?v=0.0.2', function () {
                    new GlobalChannel({
                        container: 'channel',
                        toggle: 'openChannel',
                        messageClass: 'hasmsg',
                    });
                });
            }
        }, 200);

    })();

</script> -->

</html>